extends base
block main
  div.outer
    div.main
      .row
        .col-sm-2
          h2.header Thank you!
          h2.header We will generate your application into a paper copy and drop it off to the MDP in the next couple of weeks.
          h2.header We will send you email updates as they are dropped off.
          h2.header Please email wileyrya@gmail.com if you have any questions
          a(href='/') 
            button.btn.btn-success#back Go back 
