{% import "bootstrap/wtf.html" as wtf %}

extends base
block main
  .col-sm-2
    form(id="form", method='POST', role='form')
      {{wtf.quick_form(response, button_map={'submit':'primary'})}}
    meta(id="organization-data", data="{{organization}}")
      
